/* Navbar */
.navbar {
    position: fixed;
    top: 0.5;
    left: 0;
    width: 100%;
    padding: 2rem 2rem;
    background: var(--offWhite);
    z-index: 1;
  }
  .nav-header {
    display: flex;
    justify-content: left;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .nav-links {
    /* height: 0;
    overflow: hidden; */ 
    transition: var(--mainTransition); 
    list-style-type: none;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    /* transition: var(--mainTransition); */
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  
  .show-nav {
    height: 200px;
  }
  .right {
    margin: 100px;
  }
  @media screen and (min-width: 768px) {
    .nav-btn {
      display: none;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-left: 4rem;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 1.5 rem 0;
    }
    .right{
        margin: 0 1rem;
      padding: 0rem 0;
         list-style-type: none;
        display: flex;
    text-decoration: none;
    /* padding: 1rem 0; */
    color: var(--mainBlack);
    /* transition: var(--mainTransition); */
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
    top : 0;
    z-index: 1;
    padding: 0.5rem 0rem;
    
    }
  }
  /* end of navbar */